.banner {
  height: 100vh;
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  animation: animate 9s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/bg-home.jpg");
}

.banner h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
